<% classes = [] %>
<% classes << 'completed' if todo.done? %>
<% element_identifier = "todo_#{todo.id}" %>
<%= content_tag 'li', id: element_identifier, class: classes.join(' ') do %>
  <div class="view">
    <%= form_for todo, html: { data: { remote: true, related: "##{element_identifier}" } } do |f| %>
      <%= f.check_box 'done', checked: (todo.done? ? 'checked' : ''), class: 'toggle', data: { toggle: true } %>
      <%= f.label :done, todo.description %>
      <%= f.submit 'update' %>
    <% end %>
    <button class="destroy"></button>
  </div>
  <!--<input class="edit" value="Create a TodoMVC template">-->
<% end %>
