<% classes = [] %>
<% classes << 'completed' if todo.done? %>
<% classes << 'active' unless todo.done? %>
<% classes << 'editing' %>
<% element_identifier = "todo_#{todo.id}" %>
<%= content_tag 'li', id: element_identifier, class: classes.join(' ') do %>
  <div class="view">
    <%= form_for todo,
                 remote: true,
                 html:   { class: 'state_change',
                           data:  { related: "##{element_identifier}" } } do |f| %>

      <%= f.check_box :done, checked: (todo.done? ? 'checked' : ''), class: 'toggle', data: { toggle: true } %>
      <%= f.submit 'update', class: 'fallback' %>
    <% end %>

    <%= form_for todo do |f| %>
      <%= f.text_field :description %>
    <% end %>

    <%= form_for todo,
                 remote: true,
                 html:   { data: { related: "##{element_identifier}", related_action: 'detach' }, method: :delete } do |f| %>
      <%= f.submit t('submit_labels.destroy'), class: 'destroy' %>
    <% end %>

  </div>
  <!--<input class="edit" value="Create a TodoMVC template">-->
<% end %>
