<% classes = [] %>
<% classes << 'completed' if todo.done? %>
<% classes << 'active' unless todo.done? %>
<%= content_tag 'li', class: classes.join(' '), data: { replace_on: "task.updated.#{todo.id}" } do %>
  <div class="view">
    <%= form_for todo,
                 remote: true,
                 html:   { class: 'state_change',
                           data:  { promote: "task.updated", promotr_id: todo.id } } do |f| %>

      <%= f.check_box :done, checked: (todo.done? ? 'checked' : ''), class: 'toggle', data: { toggle: true } %>
      <%= f.submit 'update', class: 'fallback' %>
    <% end %>

    <%= form_for todo do |f| %>
      <%= f.label todo.description %>
    <% end %>

    <%= form_for todo,
                 remote: true,
                 html:   { data: { related: "#{todo.id}", related_action: 'detach' }, method: :delete } do |f| %>
      <%= f.submit t('submit_labels.destroy'), class: 'destroy' %>
    <% end %>

  </div>
  <!--<input class="edit" value="Create a TodoMVC template">-->
<% end %>
