<header id="header">
  <h1>todos</h1>
  <%= render partial: 'form' %>
</header>

<section id="main"
         data-conditional-observe="#todo-list li"
         data-conditional-observe-condition="notEmpty"
         data-conditional-observe-action="css:display,block"
         data-conditional-observe-conter-action="css:display,none">


  <%= form_for @todo,
               url:    delete_active_todos_path,
               remote: true,
               html:   { data: { related: "#todo-list" } },
               method: :delete do |f| %>
    <input id="toggle-all" type="checkbox" data-toggle="true">
    <label for="toggle-all">Mark all as complete</label>
    <%= f.submit class: "fallback" %>
  <% end %>

  <%= render partial: 'todos' %>

</section>

<footer id="footer"
        data-conditional-observe="#todo-list li"
        data-conditional-observe-condition="notEmpty"
        data-conditional-observe-action="css:display,block"
        data-conditional-observe-conter-action="css:display,none">

  <span id="todo-count" data-count="#todo-list li"><strong>1</strong> item left</span>

  <ul id="filters">
    <li>
      <%= link_to 'All', todos_path, class: ('selected' unless params[:filter])
      %>
    </li>
    <li>
      <%= link_to 'Active', active_todos_path, class: ('selected' if params[:filter] == 'active') %>
    </li>
    <li>
      <%= link_to 'Completed', completed_todos_path, class: ('selected' if params[:filter] == 'completed') %>
    </li>
  </ul>

  <%= form_for @todo, url: delete_completed_todos_path, method: :delete do |f| %>
    <%= f.submit "Clear completed (#{@todos.size})", id: "clear-completed", data: { count: '#todo-list li.completed' } %>
  <% end %>
</footer>