<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TodoMVC (ROCA)</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "modernizr.custom" %>

</head>
<body>

<section id="todoapp">
  <%= yield %>
</section>

<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://www.mechanoid.de">Falk Hoppe</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<!-- Scripts here. Don't remove this ↓ -->
<%= javascript_include_tag "application" %>

</body>
</html>
